env:
  - IMAGE_NAME=glances-docker-armv71

notifications:
  email:
    on_success: always # default: change
    on_failure: always # default: always

sudo: required

services:
  - docker

script:
  - TAG=$(cat VERSION)
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
  - docker build -f Dockerfile -t $DOCKER_USERNAME/$IMAGE_NAME:$TAG $DOCKER_USERNAME/$IMAGE_NAME:latest .
  - docker push $DOCKER_USERNAME/$IMAGE_NAME:$TAG 
  - docker push $DOCKER_USERNAME/$IMAGE_NAME:latest